@tailwind base;
@tailwind components;
@tailwind utilities;

.floating-input {
  transition: all 0.2s ease-in-out;
}

.floating-input + label {
    position: absolute;
}

.floating-input:placeholder-shown + label {
    transform: translate(12px, -16px) scale(1.25);
    cursor: text;
    transform-origin: left bottom;
    transition: all 0.2s ease-in-out;
}

.floating-input:not(placeholder-shown) + label,
.floating-input:focus + label {
    transform: translate(12px, -30px) scale(1);
}

.floating-input:focus + label {
    @apply text-primary-blue;
}

.floating-input::placeholder {
    opacity: 0;
    transition: inherit;
}

.floating-input:focus::placeholder {
    opacity: 1;
}
